<p>change password works!</p>  

<div class="container">
     
    <div id="" class="table table-hover shadow p-3 mb-5 bg-white rounded" style="padding-left: 10px;">
        <fieldset>
          <div id="legend">
            <legend class="">Change Password</legend>
          </div>
          <div class="control-group">
            <!-- Username -->
            <label class="control-label"  for="username">Username</label>
            <div class="controls">
              <input type="text" id="username" [(ngModel)]='myId' name="username" placeholder="" class="input-xlarge"><p></p>
            </div>
          </div>
       
          <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="password">Password</label>
            <div class="controls">
              <input type="password" id="password" [(ngModel)]='password1' name="password" placeholder="Password" class="input-xlarge"><p></p>
            </div>
          </div>
       
          <div class="control-group">
            <!-- Password -->
            <label class="control-label"  for="password_confirm">Password (Confirm)</label>
            <div class="controls">
              <input type="password" id="password_confirm" [(ngModel)]='password2' name="password_confirm" placeholder="Password" class="input-xlarge"><p></p>
            </div>
          </div>
       
          <div class="control-group">
            <!-- Button -->
            <div class="controls"><p></p>
              <button class="btn btn-primary" (click)='submitfun()'>Register</button><p></p>
            </div>
          </div>
                <p style="color: red;">{{ msg }}</p>
         </fieldset>
     </div>
</div> 
