  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Today">
        <app-todays-attendence-page></app-todays-attendence-page>
    </mat-tab>
    <mat-tab label="Monthly">
        <app-monthly-attendence-page></app-monthly-attendence-page>
    </mat-tab>
    <mat-tab label="Analysis">
        Content 3
        <app-analysis-attendence-page></app-analysis-attendence-page>
    </mat-tab>
    <mat-tab label="Graph">
        Content 4
        <app-graph-attendence-page></app-graph-attendence-page>
    
    </mat-tab>
  </mat-tab-group>
  